body {
    background-color: black;
    position: absolute;
}

h1 {
    font-size: 7vw;
    font-weight: lighter;
    letter-spacing: 25px;
    text-align: left;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    color: white;
    position: fixed;
}

p {
    color: lightgray;
    font-size: 23px;
    text-align: center;
    letter-spacing: 15;
    font-weight: lighter;
    font-family: helvetica, arial, sans-serif;
}


p2 {
    color: black;
    font-size: 20px;
    text-align: center;
    position: relative;
}

p3 {
  letter-spacing: 5px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.center {
  margin: 15%;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  position: fixed;
}

.grid {
  padding: 300px;
}


div {
  text-align: start;
}

div2 {
  width: 100px;
  height: 100px;
  background: black;
  position: fixed;
  text-align: center;
  transition: width 3s, height 3s, background 2s;
}


div2:hover {
  width: 44%;
  height: 35%;
  background: white;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkred;
}

i0 {
  color: black;
  text-align: center;
  text-decoration: none;
  animation: color-change 4.2s infinite;
  animation-delay: 0s;
}

i1 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.02s;
}

i2 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.04s;
}

i3 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.06s;
}

i4 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.08s;
}

i5 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.1s;
}

i6 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.12s;
}

i7 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.14s;
}

i8 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.16s;
}

i9 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.18s;
}

i10 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.20s;
}

i11 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.22s;
}

i12 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.24s;
}

i13 {
  color: black;
  text-align: center;
  animation: color-change 4.2s infinite;
  animation-delay: 0.26s;
}

i14 {
  color: white;
  text-align: center;
}


/*based on https://stackoverflow.com/questions/16782498/looping-animation-of-text-color-change-using-css3*/
@keyframes color-change {
  0% { color: white; }
  50% { color: white; }
  51% { color: black; }
  55% { color: darkred; }
  58% { color: white; }
  100% { color: white; }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 30;
}